

.selected {
	background-color: #ddd;
}
.selected .name {
	padding-left: 0px;
}
.name {
	padding-left: 40px;
}

.coin img {
	width: 50px;
	heigth: 50px;
}
.coin span {
	margin-left: 10px;
	font-size: 20px;
}

body {
	font-family: 'Nunito', sans-serif;	
}

.table .spread {
	text-align: right;
}